@import url('./reset.css');

.section-go-back{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.section-form{
    background-color: rgb(196, 241, 241);
    padding-bottom: 40px;
    padding-top: 40px;
}
.feedback-form{
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    width: 408px;
    height: 296px;
    margin: auto;

}
.feedback-form label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.feedback-form input{
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    font-family: "Montserrat", sans-serif;
}
.feedback-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    font-family: "Montserrat", sans-serif;
    border-color: #808080;
}

.feedback-form textarea {
    height: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Montserrat", sans-serif;
    border-color: #808080;
    resize: none;
}

.feedback-form button {
    align-self: flex-start;
    background: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.feedback-form button:hover,
.feedback-form button:focus {
    background: #6c8cff;
}