/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body{
  font-family: "Montserrat", sans-serif;
}
.header{
  padding: 30px;
}
.nav-item{
  margin-bottom: 10px;
}