/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


.header {
  padding: 30px;
}

.nav-item {
  margin-bottom: 10px;
}

.section-form {
  padding-bottom: 40px;
  padding-top: 40px;
}

.search-form {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 24px;
  border-radius: 8px;
  margin: auto;

}

.search-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.search-form input {
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  outline: none;

}
.search-form input:active{
  border: 1px solid #4e75ff;
}
.search-form input:hover,
.search-form input:focus{
  border: 1px solid #000;
}

.search-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
  color: #808080;
}

.search-form button {
  align-self: flex-start;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.search-form button:hover,
.search-form button:focus {
  background: #6c8cff;
}

/* ---------Loader styles-------------- */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6c8cff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  margin: auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.is-visible{
  display: block;
}

/* ----------- Gallery styles---------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
}

.gallery-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.description-list{
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  gap: 28px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
        
}
.description-item{
  display: block;
  text-align:  center;

}
.property-title{
font-weight: 600;
  line-height: 1.33333;
  letter-spacing: inherit;
  font-size: inherit;
}

.property-value {
  font-size: inherit;
  font-weight: 400;
  line-height: 2;
  letter-spacing: inherit;
}

body .sl-overlay {
  background-color: rgb(46, 47, 66);
}

.sl-wrapper .sl-navigation .sl-prev,
.sl-wrapper .sl-navigation .sl-next {
  color: #fff;
}

body .sl-wrapper .sl-close {
  color: #fff;
}

body .sl-wrapper .sl-counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}